/Oded-File_Farm_56_Calibration_Saad.csv
/Oded-File_Farm_626_Calibration_Givat_Chaim.csv
/sum Ecm 305.png
/sum fat 305.png
/sum milk 305.png
/sum prot 305.png
/Y.png
/‏‏מסמך של Microsoft Word חדש.docx
